@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-navbar {
  @include flex();
  width: calc(100% - 50px);
  height: 72px;
  border-radius: 10px;
  margin:0 25px ;
  padding: 0 10px;
  background: darken(#29277a, 5%);
  position: sticky;
  top: 0;

  .title {
    color: #fefefe;
  }
  .nav-menu {
    display: flex;
    justify-content: space-evenly;
    padding: 0 2rem;

    .nav-item {
      list-style: none;
      padding-left: 15px;
      color: #fefefe;
      position: relative;
      .nav-link {
        color: #fefefe;
        text-decoration: none;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -3px;
        width: 0%;
        height: 3px;
        border-radius: 20px;
        background-color: #fefefe;
        transition: 0.4s;
      }
      &:hover::before {
        width: 60%;
      }
    }
  }
}
